body {
  background-color: #efefef;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  font-size: 14px;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 4px 0;
  margin: 14px 0 12px 0;
}

.nav>li {
  margin-left: 15px;
  margin-right: 15px;
}

.nav>li>a {
  color: #333333;
  text-decoration: none;  
}

.header {
  background-color: white;
  padding-top: 10px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0 11px 0;
}

.logo {
  display: flex;
  align-items: center;
  color: #66C05D;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 4px;
}

.logo-image {
  display: block;
  width: 80px;
  height: 80px;
  background-image: url(/img/logo.svg);
  margin-right: 20px;
}

.header-info span {
  font-size: 16px;
}

.header-info button {
  font-size: 14px;
  border-radius: 20px;
  border: 2px solid #66C05D;
  background-color: transparent;
  padding: 10px 26px 10px 24px;
  margin-left: 36px;
}

.header-bottom {
  padding: 20px 0 26px 0;
}

.header-bottom .nav2 {
  font-size: 16px;
  margin: 0;
}

.nav2 {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 4px 0;
}

.nav2>li {
  margin-left: 21px;
  margin-right: 20px;
}

.nav2>li>a {
  color: #333333;
  text-decoration: none;  
}

hr {
  border: none;
  background-color: #efefef;
  height: 1px;
}

.banner {
  background-image: url(/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 204px;
  padding-bottom: 150px;
  color: #efefef;
}

.title {
  font-size: 48px;
  font-weight: 700;
}

.banner p {
  margin-bottom: 50px;
  max-width: 315px;
}

.btn {
  color: #efefef;
  text-decoration: none;
  border-radius: 20px;
  border: 2px solid white;
  background-color: transparent;
  padding: 9px 47px;
}